<% layout('layouts/boilerplate') %>
<div id="cluster-map" class="mb-4"></div>
    <h1 class="text my-4 text-center">All Campgrounds</h1>
    <div class="mb-5 col-md-5 m-auto ">
        <form action="/campgrounds" method="get" class="d-flex validated-form" novalidate>
            <!-- <label for="search" class="form-label"></label> -->
            <input type="text" id="search" name="search" class="form-control rounded-0" placeholder="Search Campgrounds" required>
            <button class="btn btn-dark rounded-0">Search</button>
        </form>
    </div>
    <% if(index.length !== 0){ %>
        <% const i = index.reverse() %>
        <% i.forEach(element => { %>
            <div class="card mb-2 homeCard" >
                <div class="row">
                    <div class="col-md-4">
                        <% if(element.image.length>0){ %>
                        <img src="<%=element.image[0].path %>" class="card-img-top" alt="">
                        <% }else{ %>
                            <img src="" alt="No Thumbnail">
                            <% } %>
                    </div>
                    <div class="col-md-8 d-flex ">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title"><a href="/campgrounds/<%=element.id%>"><%=element.title %></a></h5>
                            
                            <p class="card-text"><%=element.location %></p>
                            <p class="card-text text-muted"><%=element.description %></p>
                            <h5 class="mt-auto"><strong class="card-text"><%=element.price %>$</strong></h5>
                        </div>
                    </div>
                </div>
            </div>
        <% }); %>
        <% }else{ %>
            <h1>No Campgrounds To Show</h1>
            <% } %>

<script>
    const token = '<%-process.env.MAPBOX_TOKEN%>'
    const campgrounds = {features:<%-JSON.stringify(index)%>}
</script>
<script src="/clusterMap.js"></script>